h2{
    text-transform: capitalize;
    margin-bottom: 40px;
    margin-top: 40px;
}
h3{
    margin-bottom: 30px;   
}

.f-table{
    margin-bottom: 25px;
}
.eliminar{
    cursor: pointer;
}

.f-table th{ 
    background-color: #000;
    color: #f2e7c3;
}

#msj.active{
    border:1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin:20px auto;
}

#form_product{
    width: 90%;
    margin:20px auto;
    border:1px solid #ccc;
    border-radius: 10px;
    padding: 30px;
}

#form_product input{ 
    width: 100%;
    margin: 10px auto;
}
