<div class="container-chat">
    <div class="menu">
            <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
            <div id="name"></div>

            <div style="display:inline-block;float:right;margin:15px 20px 0 0;"><a href="/" style="color:#fff;" >Volver</a></div>
    </div>
    <ol id="chat">
    </ol>
    <input id="textarea" type="text" placeholder="Escribir mensaje"/><div id="sent"></div>
</div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>